extends templates/main.pug
block variables
	- let pageTitle = 'Название страницы в браузере';
	- let isHome = true;

block content
  .notify
    .notify__inner.container
      .notify__text You have 1 expired deadline and 11 deadlines expires soon. <a href="#">View To-Do List</a>
      button.notify__close(type="button")
        span.visually-hidden Close


block footer
	include modules/footer.pug
