extends templates/main.pug
block variables
	- let pageTitle = 'Название страницы в браузере';
	- let isHome = true;

block content
	section.hero
		.hero__inner.container
			h1.hero__heading Welcome to Student Hub

			.hero__search
				form(action="#", method="post")
					label(aria-label="search the site")
						input(type="search", name="search")
					button(type="submit")
						span.visually-hidden search
						+icon('icon-loupe')(width="26", height="26")

	section.webpage__site-sections.site-sections
		.site-sections__inner.container
			h2.visually-hidden Site sections
			ul.site-sections__list
				each item in SITE_SECTIONS
					li.site-sections__item
						a.site-sections__link(href="#")
							span.site-sections__text= item
							span.site-sections__icon
								+icon('icon-right')(width="7", height="13")

	section.webpage__events.events
		.events__inner.container
			header.events__header
				h2.events__heading.heading Upcoming Events
				a.events__all(href="#") View all Events

			.events__wrapper
				.events__nav
				.events__slider.js-events-slider.owl-carousel
					each item in EVENTS
						.events__item.event
							h3.event__heading
								a(href="#")= item.title
							.event__category= item.category

							.event__info
								time.event__date(datetime="2020-05-13") 5/13/2020
								ul.event__list
									li.event__item 19 PM — 22 PM
									li.event__item Library



	section.news
		.news__inner.container
			header.news__header
				h2.news__heading.heading News
				a.news__all(href="#") View all News
			ul.news__list
				each item, index in NEWS
					li.news__item.news-card
						a.news-card__image(href="#")
							picture
								source(type="image/webp", srcset="img/news-" + (index + 1) + ".webp 1x, img/news-" + (index + 1) + "@2x.webp 2x")
								img(src="img/news-" + (index + 1) + ".jpg", srcset="img/news-" + (index + 1) + "@2x.jpg 2x", width="367", height="240", alt="image")
						.news-card__category Feature
						h3.news-card__heading
							a(href="#")= item
						time.news-card__date(datetime="2020-05-03") May 3, 2020
					- i++;

			a.news__more(href="#") More News
block footer
	include modules/footer.pug
