extends templates/main.pug
block variables
	- let pageTitle = 'Название страницы в браузере';
	- let isHome = true;

block content
	section.hero
		.hero__inner.container
			h1.hero__heading Welcome to Student Hub

			.hero__search
				form(action="#", method="post")
					label(aria-label="search the site")
						input(type="search", name="search")
					button(type="submit")
						span.visually-hidden search
						+icon('icon-loupe')(width="26", height="26")



block footer
	include modules/footer.pug
