.modal {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 600px;
	background-color: $color-white;
	border-radius: 15px;

	display: none;

	&__inner {
		padding: 30px 30px 40px;
	}

	&__heading {
		margin: 0 0 10px;

		@include text(18px, 24px, $color-red);
		font-weight: 700;

		&-icon {
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			svg {
				fill: $color-red;
			}
		}
	}

	&__text {
		@include text(16px, 24px, $color-grey);

		p {
			margin: 0;
		}
	}

	&__close {
		position: absolute;
		top: -30px;
		right: 0;
		display: flex;
		justify-content: center;
		width: 20px;
		height: 20px;
		padding: 0;
		border: none;
		border-radius: 50%;
		background-color: $color-white;
		cursor: pointer;

		svg {
			display: block;
			fill: $color-grey;
			align-self: center;
		}
	}
}
