.navigation {
	display: none;
	background-color: $color-white;

	@include media(lg) {
		display: block !important;
	}

	&__list {
		@include list-reset;

		@include media(lg) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
		}

		@include media(xl) {
			margin-left: -20px;
		}
	}

	&__item {
		position: relative;
		border-top: solid 1px $color-grey2;

		@include media(lg) {
			margin-left: 15px;
			border: none;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: -8px;
				transform: translateY(-50%);
				width: 2px;
				height: 2px;
				border-radius: 50%;
				background-color: $color-main;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		@include media(xl) {
			margin-left: 20px;

			&::after {
				right: -11px;
			}
		}
	}

	&__link {
		display: block;
		padding: 12px 16px;

		@include text(14px, 18px, $color-main);
		text-transform: uppercase;

		transition: color $default-transition-settings;

		@include media(lg) {
			padding: 0;
			font-size: 12px;
			line-height: 16px;
		}

		@include media(xl) {
			font-size: 14px;
			line-height: 18px;
		}

		&:hover,
		&:focus {
			outline: none;
			color: $color-grey;
		}

		&:active {
			opacity: 0.7;
		}
	}
}
