$mobile-width: 480px;
$mobile-landscape-width: 575px;
$tablet-width: 768px;
$tablet-landscape-width: 992px;
$desktop-width: 1170px;
$full-width: 1920px;

//Цвета макета

$color-white: #ffffff;
$color-main: #131313;

$color-red: #d50005;
$color-yellow: #fff7a8;
$color-grey: #7a7a7a;
$color-grey2: #d0d0d0;
$color-smoky: #f3f3f3;

$shadow: 0 15px 50px rgba(152, 152, 152, 0.1);

$font--main: "Whitney", "Arial", sans-serif;

/////////////////////////////
$default-transition-settings: 0.4s ease;

// Viewports
//---------------------------------

$breakpoints: (
  default: "default",
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxx: 1560px,
) !default;

// container max width
/*$containerMaxWidths: (
	xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;*/

//xxl: 1340px,
//xxx: 1840px
// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
