-
	let FONTS = [
		'Whitney-Light',
		'Whitney-Book',
		'Whitney-SemiBold',
		'Whitney-Bold'
	];

	let MENU = [
		'News',
		'Events',
		'My Classes',
		'My Cases',
		'My Finances',
		'My to-do list',
		'My appointments',
		'My Documents'
	];

	let NOTIFICATIONS = [
		{text: 'Library Hold!', mod: ''},
		{text: 'Past Due Account', mod: 'new'},
		{text: 'Probation', mod: 'new'},
		{text: 'Past Due Account', mod: 'new'},
		{text: 'Probation', mod: 'new'}
	];

	let USER = [
		'My Account',
		'User Settings',
		'User Profile',
		'Contact Support',
		'News'
	];

	let SITE_SECTIONS = [
		'My Classes',
		'My Cases',
		'My Finances',
		'My To-Do List',
		'My Appointments',
		'My Documents'
	];

	let NEWS = [
		'When is Wakanda: Professors, alumni partner with Oakland museum to host Afrofuturism...',
		'A Holistic Approach to Student Advising',
		'Cal State East Bay faculty, students spend month in Okinawa capturing histories'
	];

