-
	let FONTS = [
		'Whitney-Light',
		'Whitney-Book',
		'Whitney-SemiBold',
		'Whitney-Bold'
	];

	let MENU = [
		'News',
		'Events',
		'My Classes',
		'My Cases',
		'My Finances',
		'My to-do list',
		'My appointments',
		'My Documents'
	];

	let NOTIFICATIONS = [
		{text: 'Library Hold!', mod: ''},
		{text: 'Past Due Account', mod: 'new'},
		{text: 'Probation', mod: 'new'},
		{text: 'Past Due Account', mod: 'new'},
		{text: 'Probation', mod: 'new'}
	];

	let USER = [
		'My Account',
		'User Settings',
		'User Profile',
		'Contact Support',
		'News'
	];
