sectoin.modal
	.modal__inner
		button.modal__close(type="button")
			span.visually-hidden Close modal
			+icon('icon-close')(width="8", height="8")
		h2.modal__heading
			span.modal__heading-icon
				+icon('icon-lightning')(width="10", height="18")
			| Action
		.modal__text
			p Please pay overdue account balance to restore registration access and university services.
			p View your account balance online through MyCSUEB.
			p Contact Student Financial Services at  (510-885-3767) if you have any questions.
